@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	overflow: hidden;
	
}


.wrap{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #21242D;
	background-image: url(../img/bg.svg);
	background-size: 1000px;
	background-position: 800px center;
	background-repeat: no-repeat;

	.card{
		width: 400px;
		height: 600px;
		background: #FFFFFF;
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
		border-radius: 15px;
		z-index: 10;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
		transition: 1s;

		.sign__up{


		.card__kolo{
			width: 60px;
			height: 60px;
			border-bottom: 8px solid #F8AE1B;
			border-left: 8px solid #F36273;
			border-right: 8px solid #6624B1;
			border-top: 8px solid #FF7939;
			border-radius: 50%;
			animation-name: card__kolo;
            animation-duration: 1s;
            animation-iteration-count: infinite;
			@keyframes card__kolo {
				0%{
					transform: rotate(0deg);
				}
				100%{
					transform: rotate(360deg);

				}
			}

		}
		.card__titel{
			font-family: 'Montserrat Alternates';
			font-style: normal;
			font-weight: 600;
			font-size: 60px;
			line-height: 110.4%;
			color: #21242D;
			margin-top: 70px;


		}
		.card__button-box{
			width: 100%;
			display: flex;
			justify-content: center;
			.card__button{
				width: 250px;
				height: 80px;
				background: linear-gradient(180deg, #F8AE1B 0%, #F9AC19 100%);
				box-shadow: 0px 8px 7px rgba(248, 174, 27, 0.3);
				border: none;
				border-radius: 84px;
				margin-top: 100px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: 'Montserrat Alternates';
				font-style: normal;
				font-weight: 600;
				font-size: 32px;
				line-height: 110.4%;
				color: #21242D;
				padding-bottom: 4px;
				transition: 1s;

				&:hover{
					background: linear-gradient(180deg, #212429  0%, #212429  100%);
					box-shadow: 0px 8px 7px;
					color: #fff;
					transition: 1s;

				}

			}
		}
	}
	.verification{
		.card__kolo{
			width: 60px;
			height: 60px;
			border-bottom: 8px solid #fff;
			border-left: 8px solid #fff;
			border-right: 8px solid #fff;
			border-top: 8px solid #fff;
			border-radius: 50%;
			animation-name: card__kolo;
            animation-duration: 1s;
            animation-iteration-count: infinite;
			@keyframes card__kolo {
				0%{
					transform: rotate(0deg);
				}
				100%{
					transform: rotate(360deg);

				}
			}

		}
		.card__titel{
			font-family: 'Montserrat Alternates';
			font-style: normal;
			font-weight: 600;
			font-size: 60px;
			line-height: 110.4%;
			color: #fff;
			margin-top: 20px;
			padding-bottom: 10px;


		}
		.verification__box{
			width: 100%;
			height: 50px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #D9D9D9;
			margin-top: 30px;
			.card__img{
				width: 30px;
				height: 30px;

			}
			.card__input{
				width: 100%;
				margin-left: 10px;
				background-color: transparent;
				border: none;
				outline: none;
				font-family: 'Montserrat Alternates';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 110.4%;
				color: #D9D9D9;

			}
		}






		.card__button-box{
			width: 100%;
			display: flex;
			justify-content: center;
			.card__button{
				width: 250px;
				height: 80px;
				background: linear-gradient(180deg, #212429  0%, #212429  100%);
				box-shadow: 0px 8px 7px #212429;
				color: #fff;
				border: none;
				border-radius: 84px;
				margin-top: 50px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: 'Montserrat Alternates';
				font-style: normal;
				font-weight: 600;
				font-size: 32px;
				line-height: 110.4%;
				padding-bottom: 4px;
				transition: 1s;

				&:hover{
					background: linear-gradient(180deg, #F8AE1B 0%, #F9AC19 100%);
					box-shadow: 0px 8px 7px rgba(248, 174, 27, 0.3);
					transition: 1s;
					color: #fff;
					color: #212429;


				}

			}
		}
	}
	}
	.card__active{
		background: linear-gradient(180deg, #424856 0%, #3A404E 100%);
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
		transition: 1s;
	}
	
}



@media screen and(max-width: 500px) {
	
.wrap{
	.card{
		width: 100%;
		height: 100%;
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
		border-radius: 0px;
		z-index: 10;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 40px;
		transition: 1s;
	}
	
}






}